body{
    padding: 0;
    font-family: arial;
    margin: 0;
    background-color: #f9b2dc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login_form{
    display: flex;
    align-items: center;
    height: 400px;
    width: 400px;
    flex-direction: column;
    background-color: #ff8e51;
    margin-top: 70px;
    border: 1px black solid;
    
}
.login_form h1{
    background-color: #ffd83f;
    width: 400px;
    text-align: center;
    margin-top: 0;
    font-size: 40px;
    border: 1px black solid;
}
.login_form h3{
    font-size: 25px;
}
.login_form input{
    height: 40px;
    border: 2px black solid;
    border-radius: 10px;
}


img{
    width: 400px;
    border: 1px black solid;
}
#btn_login{
    background-color: #ffd83f;
    font-size: 31px;
    width: 140px;
    text-align: center;
    border: 2px black solid;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-top: 10px;
}
#btn_login:hover{
    background-color: gainsboro;
}